@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_AdminLTELayout.cshtml";
    var background = "data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22200%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20200%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_169d4876154%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_169d4876154%22%3E%3Crect%20width%3D%22200%22%20height%3D%22200%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2274.4375%22%20y%3D%22104.55625%22%3E%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E";

}
@*<h1>
        <a href="/Home/ControlPanel">Control Panel</a>
    </h1>*@
<style>
    .movieName {
        text-align: left;
        font-size: 30px;
        font-weight: bold;
        color: black;
    }
    .movieDirector{
        font-size:20px;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <h4>Movies recommended for you</h4>
        <div class="col-md-12 no-padding">
            @foreach (var recomended in Model.Recomended.Take(10))
            {
                <a href="@Url.Action("Movie", new { id = recomended.ID })" class="col-md-1 no-padding" style=" width: 10%; height: 168px; overflow: hidden; text-overflow: ellipsis;">
                    <img id="logo_@recomended.ID" src="@background" alt="300x300" class="img-thumbnail" style="width: 110px; height: 140px; padding: 0px 5px;" />
                    <p style="font-size: x-small">@recomended.Name</p>
                </a>
            }
        </div>
    </div>
    <div class="col-md-12">
        <h2>Movies</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover" id="moviesTable">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Director</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var movie in Model.Movies)
                    {
                        <tr>
                            <td class="movieName"><a style="color:black;" href="@Url.Action("Movie", new { id = movie.ID })">@movie.Name</a></td>
                            <td class="movieDirector">@movie.Director</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    @*<div class="col-md-4">
            <h2>Categories</h2>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <td>Name</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Model.Categories)
                        {
                            <tr>
                                <td>@category.Title.Replace("_", " ")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>*@
</div>
@section scripts {
    <script>
        var recomended = @Json.Serialize(Model.Recomended.Take(10).Select(m => new { id = m.ID, name = m.Name.Remove(m.Name.IndexOf("("))}).ToList());

    </script>

    <script src="~/js/Index.js"></script>
}



